<!-- {% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>
    {% block title %}ArtyProd{% endblock %}
  </title>
  <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css'%}">
  {% block styles %} {% endblock %}
  <style>
    body {
      background-size: cover;
      background-position: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="#">Mes App </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="ArtyProd/"> ArtyProd</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="Blog/"> Blog </a>
        </li>
      </ul>
    </div>
  </nav>
  {% block content %}
    <img src="{% static '../media/media/back1.png' %}" alt="My Image" style="height: 93%;width: 100%;">
  {% endblock %}

</body>

</html> -->